* {
	font-family: 'RobotoDraft', sans-serif;
	-webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
}
#navbar {
	background: #262f33;	
}
.image {
	display: inline-block;
	vertical-align: top;
}
.image img {
	height: 47px;
	display: block;
}
.copy-wrap {
	display: inline-block;
	padding-left: 10px;
	vertical-align: top;
}
.name {
	font-size: 24px;
	color: rgba(255,255,255,1);
	line-height: 1.2;
}
.tagline {
	font-size: 16px;
	color: rgba(255,255,255, .75);
	line-height: 1.2;
}
.logo {
	float: left;
	padding: 20px 0px;
}
.nav {
	float: right;
}
.nav ul {
	display: table;
	padding: 0;
	margin: 0;
}
.nav ul li {
	display: table-cell;
	vertical-align: middle;
	font-weight: 600;	

}
.nav ul li a {
	display: inline-block;
	padding: 30.5px 20px;
	border-bottom: solid 4px transparent;
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}
.nav ul li a:hover {
	color: #64DCA0;
	text-decoration: none;
}
.nav ul li a.active {
	border-bottom: solid 4px #64DCA0;
}
#content {
	margin-top: 60px;
}
.item {
	margin:15px 0;
	display: block;
	overflow: hidden;
	position: relative;
}
.project-text {
	position: absolute;
	width: 100%;
	left: 0;
	top: 65%;
	text-align: center;
	opacity: 0;
	color: #fff;
}
.project-title {
	font-size: 24px;
	font-weight: bold;
}
.project-type {
	margin-top: 10px;
}
.project-type span {
	margin: 0px 2px;
	padding: 5px 10px;
	background-color: #262f33;
	color: #fff;
	border-radius: 10px;
	font-weight: 300;
	font-size: 14px;
	text-shadow:0 1px 0px rgba(0,0,0,1);
}
.item:hover img {
  	opacity: .7;
}
.item:hover .project-text {
	top: 45%;
	opacity: 1;
}
#preview-pane {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	background-color: rgba(0,0,0,0);
	-webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.show {	
	z-index: 100!important;
	background-color: rgba(0,0,0,.3)!important; 
}
.iframe-window {
	background: #fff;
	margin: 0 auto;
	border-radius: 4px;
	position: fixed;
	left: 0;
	right: 0;
	top: 100%;
	width: 100%;
	bottom: 0;
	max-width: 1200px;
	box-shadow: 0 10px 20px 0 rgba(0,0,0, .25);
	-webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}
.iframe-window-show {
	top: 10px!important;
}
.iframe-close {
	position: absolute;
	width: 25px;
	height: 25px;
	line-height: 1;
	font-size: 32px;
	right: 10px;
	top: 5px;
	color: #262f33;
	z-index: 2;
}
.iframe-close:hover {
	color: #e74e3e;
}
.iframe-header {
	padding: 10px 20px;
	position: relative;
}
.iframe-title {
	font-size: 32px;
	line-height: 1;
}
.iframe-description {
	font-size: 16px;
}
.iframe-resizer {
	padding: 0px 20px;
	background: #262f33;
	color: #fff;
	position: relative;
}
.iframe-resizer-options label {
	padding: 10px 0px;
	width: 48px;
	text-align: center;
	cursor: pointer;
	font-size: 20px;
	float: left;

}
span.label {
	padding-top:16px;
	padding-left: 10px;
	display: inline-block;
	font-size: 12px;
}
.iframe-resizer-options label:hover {
	background-color: rgba(255,255,255,.1);
}
.active-size {
	background-color: rgba(0,0,0,.3);
}
.iframe-pagination {
	position: absolute;
	right: 20px;
	top: 10px;
	color: #64DCA0;
	background-color: rgba(255,255,255,.1);
	border-radius: 16px;
	overflow: hidden;
	font-size: 16px;
}
.iframe-pagination button {
	background-color: rgba(255,255,255,0);
	border: 0;
}
.iframe-pagination button:hover {
	background-color: rgba(255,255,255,.1);
	border: 0;
}
.iframe-pagination button:disabled {
	background-color: rgba(255,255,255,.1);
	color: rgba(0,0,0,.5);
}
button.left {
	border-top-left-radius: 100%;
	border-bottom-left-radius: 100%;
}
button.right {
	border-top-right-radius: 100%;
	border-bottom-right-radius: 100%;
}
.iframe-projectNumber {
	color:#fff;
	font-weight: bold;
	display: inline-block;
	padding: 0 5px;
}
.clear {
	clear: both;
}
.iframe-container {
	display: table;
	background: #1d2326;
	width: 100%;
	height: 100%;
}
.iframe-inner-container {
	height: 100%;
	width: 100%;
	display: table-cell;
	vertical-align: top;
	text-align: center;
}
.iframe-container iframe {
	border: 0;
	overflow: hidden;
	-webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
  	transition:         all 600ms cubic-bezier(0.86, 0, 0.07, 1);
}
.desktop {
	height: 100%;
    width: 100%;
}
.tablet {
	width: 768px;
	height: 900px;
}
.mobile {
	width: 320px;
	height: 568px;
}











