<div class="iframe-window">
  <a href="#" class="iframe-close"><i class="fa fa-times"></i></a>
  <div class="iframe-header">
    <div class="iframe-title">{{project.Title}}</div>        
    <div class="iframe-description">
      Bacon ipsum dolor amet flank hamburger strip steak pork, ground round turkey kevin bresaola pork chop landjaeger corned beef. Picanha shank alcatra, bresaola turkey pork belly capicola.
    </div>
  </div>
  <div class="iframe-resizer">
    <div class="iframe-resizer-options">
      <label class="active-size">
        <i class="fa fa-mobile"></i>
        <input type="radio" name="size" value="mobile" hidden/> 
      </label>
      <label>
        <i class="fa fa-tablet"></i>
        <input type="radio" name="size" value="tablet" hidden/> 
      </label>
      <label>
        <i class="fa fa-desktop"></i>
        <input type="radio" name="size" value="desktop" hidden/> 
      </label>
      <div class="iframe-pagination">
        <button><i class="fa fa-arrow-left left"></i></button>
        <span class="iframe-projectNumber">01</span>
        <button><i class="fa fa-arrow-right right"></i></button>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="iframe-container" frameborder="0" height="100%" width="100%">
    <iframe src="http://www.placehold.it"></iframe>
  </div>
</div> 